// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/select2/src/scss/core";
@import "node_modules/icheck/skins/flat/_all";
@import "node_modules/sweetalert/dev/sweetalert";
body {
    font-family: "Microsoft YaHei" !important;
}

v-cloak {
    display: none;
}

table td {
    word-break: break-all;
}
